LecteurArticle/src/META-INF/wsdl/localhost_52400/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:52400/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LecteurServiceWCF"/><xs:element name="GetAllArticles"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllArticlesResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q1:ArrayOfArticle" xmlns:q1="http://schemas.datacontract.org/2004/07/LecteurServiceWCF"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetLike"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="titreArticle" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetLikeResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SetLikeResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetDislike"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="titreArticle" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetDislikeResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SetDislikeResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetSearch"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="txt" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SetSearchResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SetSearchResult" nillable="true" type="q2:ArrayOfArticle" xmlns:q2="http://schemas.datacontract.org/2004/07/LecteurServiceWCF"/></xs:sequence></xs:complexType></xs:element></xs:schema>