LecteurArticle/xml-resources/web-service-references/Service1/wsdl/localhost_52400/Service1.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LecteurServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/LecteurServiceWCF"><xs:complexType name="ArrayOfArticle"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Article" nillable="true" type="tns:Article"/></xs:sequence></xs:complexType><xs:element name="ArrayOfArticle" nillable="true" type="tns:ArrayOfArticle"/><xs:complexType name="Article"><xs:sequence><xs:element minOccurs="0" name="Dislike" type="xs:int"/><xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Img" nillable="true" type="xs:base64Binary"/><xs:element minOccurs="0" name="Like" type="xs:int"/><xs:element minOccurs="0" name="Texte" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Article" nillable="true" type="tns:Article"/></xs:schema>